{% extends 'main/base.html' %}
{% block content %}
{% include 'main/menu.html'%}
<main class="container my-5 flex-grow-1">
    <h1 class="mb-4 text-center">Наши услуги</h1>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Веб-разработка</h5>
            <p class="card-text">Создание сайтов любой сложности, интернет-магазинов, корпоративных порталов.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">SEO-оптимизация</h5>
            <p class="card-text">Продвижение сайтов в поисковых системах, увеличение видимости и трафика.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Дизайн</h5>
            <p class="card-text">Разработка уникального дизайна, адаптивная вёрстка, UI/UX-аудит.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% include 'main/footer.html'%}
{% endblock %}